@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf");
}

.hero-image {
  max-height: 400px;
}
.task-card-container {
  transition: background-color 0.15s ease-in-out;
}

.task-card-active-container {
  z-index: 99;
  padding-right: 15px;
  padding-left: 15px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  min-height: 100vh;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: background-color 0.15s ease-in-out;
}

.card.task-card-active {
  padding-right: 0;
  padding-left: 0;
}

html,
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
